@page "/aboutus"
@using GIWeb.Shared.Components

<GIGridLayout>
    <div class="row align-items-center">
        <div class="col-12 order-lg-2">
            <div class="d-none d-lg-block divider-20"></div>
            <div class="item-content">
                <h5 class="fw-200 text-uppercase">About Gosport Internet</h5>
                <h3>#1 Internet Service Provider Company in Gosport!    </h3>
                <h6 class="fw-500 font-italic">We have been providing internet and telecom services for more than 2 months!</h6>
                <p class="big">Having been in business for so many months, we are one of the most experienced internet service providers around.</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list1">
                            <li>
                                Award winning services
                            </li>
                            <li>
                                End-to-end solutions
                            </li>
                            <li>
                                Dedicated management
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list1">
                            <li>
                                Full project management
                            </li>
                            <li>
                                Industry leading SLAs
                            </li>
                            <li>
                                Complete option range
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</GIGridLayout>

<div style="height:
           218px;"></div>

@code {

}
