<section class="ls s-pt-80 s-pb-70 s-py-lg-120 s-py-xl-160">
    <div class="container">
        <div class="row">
            <main class="col-lg-12">
                <article>
                    <header class="entry-header mb-30">
                        <h1 class="entry-title">My account</h1>
                        <span class="edit-link">
                            <a class="post-edit-link" href="#">
                                Edit
                                <span class="screen-reader-text"> "My account"</span>
                            </a>
                        </span>
                    </header>
                    <div class="entry-content">
                        <div class="woocommerce">
                            <nav class="woocommerce-MyAccount-navigation hero-bg p-60">
                                <ul>
                                    <li class="is-active">
                                        <a href="shop-account-dashboard.html">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="shop-account-orders.html">Orders</a>
                                    </li>
                                    <li>
                                        <a href="shop-account-addresses.html">Addresses</a>
                                    </li>
                                    <li>
                                        <a href="shop-account-details.html">Account details</a>
                                    </li>
                                    <li>
                                        <a href="shop-account-login.html">Logout</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="woocommerce-MyAccount-content">
                                <p>
                                    Hello <strong>admin</strong> (not <strong>admin</strong>? <a href="shop-account-login.html">
                                        Log
                                        out
                                    </a>)
                                </p>
                                <p>
                                    From your account dashboard you can view your <a href="shop-account-orders.html">recent orders</a>,
                                    manage your <a href="shop-account-address.html">shipping and billing addresses</a> and <a href="shop-account-details.html">edit your password and account details</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>