@page "/componenttest"
@using GIWeb.Shared.Components

<div class="container">

    <GILogin></GILogin>
    <GIRegister></GIRegister>

    <GiCheckbox @ref="IsChecked" Text="Checkbox One"></GiCheckbox>
    <GIButton OnClickEvent="VerifyCheckbox" ButtonText="Check"></GIButton>

</div>
@code {

    GIInput TestInput;
    GiCheckbox IsChecked;

    public void PrintInputfield()
    {
        Console.WriteLine(TestInput.GetValue().ToString());
    }

    public void VerifyCheckbox()
    {
        Console.WriteLine("Checkbox Value: " + IsChecked.GetValue().ToString());
    }

}
