@page "/faq"

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- tabs start -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="tab01" data-toggle="tab" href="#tab01_pane" role="tab" aria-controls="tab01_pane" aria-expanded="true" aria-selected="true">User interface</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab02" data-toggle="tab" href="#tab02_pane" role="tab" aria-controls="tab02_pane" aria-selected="false">Payment Method</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab03" data-toggle="tab" href="#tab03_pane" role="tab" aria-controls="tab03_pane" aria-selected="false">System Solution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab04" data-toggle="tab" href="#tab04_pane" role="tab" aria-controls="tab04_pane" aria-selected="false">Technical Support</a>
                </li>

            </ul>
            <div class="tab-content ls">
                <div class="tab-pane fade in active show" id="tab01_pane" role="tabpanel" aria-labelledby="tab01">

                    <div id="accordion01" role="tablist">
                        <div class="tab-block">
                            <div role="tab" id="collapse01_header">
                                <p class="text-normal">
                                    <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
                                        Ex ratione and consectetur laborum suscipit, incidunt and consequuntur?
                                    </a>
                                </p>
                            </div>

                            <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Beatae quae reprehenderit accusantium and sunt eum. Laboris iste. Laborum dolore or quaerat. Quam. Ut nulla or exercitation but veniam yet duis yet vitae doloremque. Doloremque sint yet eos explicabo yet molestiae and molestiae, yet consequatur. Quisque ligula massa, porttitor vitae volutpat ut, luctus a mi.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse03_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
                                        Molestiae suscipit ipsum non eos so autem dolores. Exercitation si or laudantium?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse04_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
                                        Veniam magna for ut or adipisci veritatis. In ipsa and eu. Id omnis dicta?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse05_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="collapse05_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse06_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="collapse06_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse07_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse07" aria-expanded="false" aria-controls="collapse07">
                                        Why should we hire a consultant to write our business plan?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse07" class="collapse" role="tabpanel" aria-labelledby="collapse07_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse08_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse08" aria-expanded="false" aria-controls="collapse08">
                                        What makes your business plans so special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="collapse08_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse09_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
                                        What makes your financial projections special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="collapse09_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse10_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        How does the process work?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="collapse10_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse -->
                </div>
                <div class="tab-pane fade" id="tab02_pane" role="tabpanel" aria-labelledby="tab02">
                    <div id="accordion02" role="tablist">
                        <div class="tab-block">
                            <div role="tab" id="collapse11_header">
                                <p class="text-normal">
                                    <a data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                        What does Your Company Consulting do?
                                    </a>
                                </p>
                            </div>

                            <div id="collapse11" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse12_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="collapse12_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse13_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="collapse13_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse14_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="collapse14_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse15_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="collapse15_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse16_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                        Why should we hire a consultant to write our business plan?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse16" class="collapse" role="tabpanel" aria-labelledby="collapse16_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse17_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                        What makes your business plans so special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse17" class="collapse" role="tabpanel" aria-labelledby="collapse17_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse18_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                        What makes your financial projections special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse18" class="collapse" role="tabpanel" aria-labelledby="collapse18_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse19_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                        How does the process work?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse19" class="collapse" role="tabpanel" aria-labelledby="collapse19_header" data-parent="#accordion02">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse -->
                </div>

                <div class="tab-pane fade" id="tab03_pane" role="tabpanel" aria-labelledby="tab03">
                    <div id="accordion03" role="tablist">
                        <div class="tab-block">
                            <div role="tab" id="collapse20_header">
                                <p class="text-normal">
                                    <a data-toggle="collapse" href="#collapse20" aria-expanded="true" aria-controls="collapse20">
                                        What does Your Company Consulting do?
                                    </a>
                                </p>
                            </div>

                            <div id="collapse20" class="collapse show" role="tabpanel" aria-labelledby="collapse20_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse21_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse21" class="collapse" role="tabpanel" aria-labelledby="collapse21_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse22_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse22" class="collapse" role="tabpanel" aria-labelledby="collapse22_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse23_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse23" class="collapse" role="tabpanel" aria-labelledby="collapse23_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse24_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse24" aria-expanded="false" aria-controls="collapse24">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse24" class="collapse" role="tabpanel" aria-labelledby="collapse24_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse37_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse37" aria-expanded="false" aria-controls="collapse37">
                                        Why should we hire a consultant to write our business plan?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse37" class="collapse" role="tabpanel" aria-labelledby="collapse37_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapsed25_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapsed25" aria-expanded="false" aria-controls="collapsed25">
                                        What makes your business plans so special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapsed25" class="collapse" role="tabpanel" aria-labelledby="collapsed25_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapsed26_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapsed26" aria-expanded="false" aria-controls="collapsed26">
                                        What makes your financial projections special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapsed26" class="collapse" role="tabpanel" aria-labelledby="collapsed26_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapsed27_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapsed27" aria-expanded="false" aria-controls="collapsed27">
                                        How does the process work?
                                    </a>
                                </p>
                            </div>
                            <div id="collapsed27" class="collapse" role="tabpanel" aria-labelledby="collapsed27_header" data-parent="#accordion03">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse -->
                </div>
                <div class="tab-pane fade" id="tab04_pane" role="tabpanel" aria-labelledby="tab04">
                    <div id="accordion04" role="tablist">
                        <div class="tab-block">
                            <div role="tab" id="collapse28_header">
                                <p class="text-normal">
                                    <a data-toggle="collapse" href="#collapse28" aria-expanded="true" aria-controls="collapse28">
                                        What does Your Company Consulting do?
                                    </a>
                                </p>
                            </div>

                            <div id="collapse28" class="collapse show" role="tabpanel" aria-labelledby="collapse28_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse29_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse29" aria-expanded="false" aria-controls="collapse29">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse29" class="collapse" role="tabpanel" aria-labelledby="collapse29_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse30_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse30" aria-expanded="false" aria-controls="collapse30">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse30" class="collapse" role="tabpanel" aria-labelledby="collapse30_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse31_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse31" aria-expanded="false" aria-controls="collapse31">
                                        What industries do you specialize in?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="collapse31_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse32_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse32" aria-expanded="false" aria-controls="collapse32">
                                        Can you guarantee that our plan will raise capital?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="collapse32_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapse33_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse33" aria-expanded="false" aria-controls="collapse33">
                                        Why should we hire a consultant to write our business plan?
                                    </a>
                                </p>
                            </div>
                            <div id="collapse33" class="collapse" role="tabpanel" aria-labelledby="collapse33_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapsed34_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapsed34" aria-expanded="false" aria-controls="collapsed34">
                                        What makes your business plans so special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapsed34" class="collapse" role="tabpanel" aria-labelledby="collapsed34_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapsed35_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapsed35" aria-expanded="false" aria-controls="collapsed35">
                                        What makes your financial projections special?
                                    </a>
                                </p>
                            </div>
                            <div id="collapsed35" class="collapse" role="tabpanel" aria-labelledby="collapsed26_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-block">
                            <div role="tab" id="collapsed36_header">
                                <p class="text-normal">
                                    <a class="collapsed" data-toggle="collapse" href="#collapsed36" aria-expanded="false" aria-controls="collapsed36">
                                        How does the process work?
                                    </a>
                                </p>
                            </div>
                            <div id="collapsed36" class="collapse" role="tabpanel" aria-labelledby="collapsed36_header" data-parent="#accordion04">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a semper ante, eu finibus diam. Sed mauris velit, sagittis eget tincidunt tincidunt, accumsan ac tellus. Sed vulputate, purus eget venenatis tincidunt, lorem lorem maximus risus, facilisis scelerisque est metus eget justo. Etiam vestibulum felis sit amet porta egestas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse -->
                </div>
            </div>
            <!-- tabs end-->
        </div>
    </div>
</div>

@code {

}
