@page "/internet/advanced"
@using GIWeb.Shared.Components


<section class="ls s-pt-80 s-pb-0 s-pt-lg-160 s-pb-lg-60 s-pt-lg-160 s-pb-lg-60 c-gutter-60 c-mb-50 service-page3">
    <div class="text-center plan-name bg-maincolor2">
        <h3>Advanced Broadband Package</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="item-content hero-bg rounded rounded-image-top">
                    <div class="text-center">
                        <img src="images/price-icon02.png" class="text-center">
                    </div>

                    <div class="entry-content">
                        <p class="excerpt">
                            Namber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                            facer possim assum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id erat nec odio consequat imperdiet. Phasellus suscipit tortor in tortor gravida volutpat. Maecenas eget luctus ex, ut pellentesque massa.
                            Aliquam erat volutpat. Suspendisse sit amet vestibulum tortor. Donec interdum malesuada nibh.
                        </p>
                        <p>
                            Cras eu convallis felis, vel malesuada ex. Duis faucibus ac orci at varius. Nullam ligula eros, lacinia quis interdum quis, iaculis ac libero. In in enim nec tellus viverra porttitor.
                            Nullam gravida porta tellus nec cursus. Integer ut blandit neque, sit amet sagittis arcu. What you get...
                        </p>
                        <ul class="list1">
                            <li>
                                <a>200 MB/s Download.</a>
                            </li>
                            <li>
                                <a>150 MB's Upload.</a>
                            </li>
                            <li>
                                <a>Free router and installation.</a>
                            </li>
                            <li>
                                <a>24/7 Support.</a>
                            </li>
                        </ul>
                        <p>
                            Duis est augue, aliquet at nisl in, maximus dictum odio. Integer vehicula libero id urna iaculis pellentesque vitae eu enim. Nunc tellus augue, sodales eget turpis non, gravida rutrum purus. Maecenas fringilla aliquet bibendum. Aenean eu tincidunt justo. Phasellus odio risus, consectetur eu nisi et, bibendum rutrum metus. Nullam gravida porta.
                        </p>
                        <div class="container">
                            <GIButton ButtonText="Purchase" Width="175px" CustomClass="mt-4 float-right" Colour="GIButton.ButtonColour.Blue"></GIButton>
                            <GIButton ButtonText="Back" Width="175px" Href="/internet/packages" CustomClass="mt-4 float-left" Colour="GIButton.ButtonColour.Purple"></GIButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="accordion01" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="collapse01_header">
                            <h5>
                                <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
                                    <i class="fa fa-area-chart"></i>
                                    Payment
                                </a>
                            </h5>
                        </div>
                        <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                            <div class="card-body">

                                <div class="media">
                                    <div class="media-body">
                                        Consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="collapse02_header">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
                                    <i class="fa fa-area-chart"></i>
                                    Schedule an Engineer
                                </a>
                            </h5>
                        </div>
                        <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        Consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="collapse03_header">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
                                    <i class="fa fa-wifi"></i>
                                    Router Setup
                                </a>
                            </h5>
                        </div>
                        <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
                            <div class="card-body">

                                <div class="media">
                                    <div class="media-body">
                                        Consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="collapse05_header">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
                                    <i class="fa fa-cloud"></i>
                                    Support
                                </a>
                            </h5>
                        </div>
                        <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="collapse05_header" data-parent="#accordion01">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        Consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls ms my-30 p-30">
                    <p>
                        Cras eu convallis felis, vel malesuada ex. Duis faucibus ac orci at varius. Nullam ligula eros, lacinia quis interdum quis, iaculis ac libero. In in enim nec tellus viverra porttitor. Nullam gravida porta tellus nec cursus. Integer ut blandit neque, sit amet sagittis arcu. Maecenas sagittis interdum gravida.
                    </p>
                </div>
                <div class="service-info hero-bg">
                    @*Additional information*@
                </div>
            </div>
            <div class="d-none d-lg-block divider-20"></div>


        </div>

    </div>
</section>

@code {

}
