@page "/login"
@using GIWeb.Shared.Components

@*<div class="container">
    <GIButton Colour="@GIButton.ButtonColour.Green" OnClickEvent="ShowModal" ButtonText="Show Login Modal" Width="150px;"></GIButton>
</div>*@

<GILogin></GILogin>

@*<GIModal @ref="m1" Title="Sign in to your account." PreferredWidth="1000px;">
    <ModalContent>
        <GILogin></GILogin>
    </ModalContent>
</GIModal>*@

<div style="height:219px;"></div>

@code {

    GIModal m1;

    public void ShowModal()
    {
        m1.ShowModal();
    }

    //protected override async Task OnInitializedAsync()
    //{

    //}
}
