@page "/resetpassword"
@using GIWeb.Shared.Components

<div class="container">
    <GIGridRow>
        <GIGridColumn Width="3">
        </GIGridColumn>
        <GIGridColumn CustomClass="text-center" Width="6">
            <GIInput @ref="Email" Placeholder="Email address." CustomClass="mb-1"></GIInput>
            <GIButton ButtonText="Reset" CustomClass="mt-2 mb-2" Width="150px;"></GIButton>
            <div>
                <a href="/login" style="width:150px;" class="woocommerce-Button btn btn-maincolor3 mt-2" role="button"><span>Back</span></a>
            </div>
        </GIGridColumn>
        <GIGridColumn Width="3"></GIGridColumn>
    </GIGridRow>
</div>
<div style="height:100px;"></div>

@code {

    GIInput Firstname, Surname, Email, ComfirmEmail, Password, ComfirmPassword;
    GiCheckbox TermsOfService;

    public void AttemptRegister()
    {
        Console.WriteLine("Attempting to signin with credienials: Email= " + Email.GetValue() + " - Password= " + Password.GetValue());
    }

    public void ButtonClick()
    {
        Console.WriteLine("DONG!!");
    }

    public void PrintOnChange(string text)
    {
        Console.WriteLine(text.ToString());
    }
}
