@page "/getstarted"

<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60">
    <div class="container">
        <h1 class="text-center ">Get Started</h1>
        <div class="row">
            <div class="offset-lg-1 col-lg-10 ">
                <div class="item-content rounded">
                    <div class="hero-bg service-content">
                        <h4>Step 1 - Router Setup</h4>
                        <p>
                            Lorem idolorame conseetur sadipscing elitdiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam ersed diam voluptua vero eoet accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet rem ipsum dolorsit amet
                            consetetur sadipscing elitr:
                        </p>
                        <div class="row c-gutter-60 c-mt-20 c-mb-0 c-mb-lg-40">
                            <div class="col-lg-7">
                                <span class="small-text fw-700">Download</span>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="100" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" style="width: 100%;">
                                        <span>Expected 45MB/s</span>
                                    </div>
                                </div>
                                <span class="small-text fw-700">Upload</span>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="100" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" style="width: 100%;">
                                        <span>Expected 45MB/s</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <p>
                                    Rem explicabo proident, and culpa and proident for iste and modi. Tot am aliqua but exercitation. Tiam ut bibendum leo.
                                </p>
                            </div>
                        </div>
                        <div class="d-block d-lg-none divider-20"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam eaque eius velit neque sapiente, voluptatum, quibusdam minima quis aut quos id, cumque. Veritatis praesentium sunt nesciunt, corrupti ratione ducimus officia.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aut, dolorum quasi, illum libero nam quia sequi ut exercitationem enim ratione, perferendis, fuga explicabo eligendi dolores similique nemo ullam alias.
                        </p>
                    </div>
                    <div class="hero-bg service-content">
                        <h4>Step 2 - Await for your line to be active</h4>
                        <p>
                            Lorem idolorame conseetur sadipscing elitdiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam ersed diam voluptua vero eoet accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet rem ipsum dolorsit amet
                            consetetur sadipscing elitr:
                        </p>
                        <p>
                            While you wait for us to activate you line you can checkout...
                        </p>
                        <div class="row c-gutter-60 c-mt-20 c-mb-0 c-mb-lg-40">

                            <div class="col-lg-5">
                                <p>
                                    <nav class="woocommerce-MyAccount-navigation hero-bg p-10">
                                        <ul>
                                            <li class="is-active">
                                                <a href="/" target="_blank">Your Orders</a>
                                            </li>
                                            <li>
                                                <a href="/" target="_blank">Manage Account</a>
                                            </li>
                                            <li>
                                                <a href="/" target="_blank">Manage Address</a>
                                            </li>
                                            <li>
                                                <a href="/" target="_blank">Other Services</a>
                                            </li>
                                            <li>
                                                <a href="/" target="_blank">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="/" target="_blank">Support</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="hero-bg service-content">
                        <h4>Step 3 - Enjoy your internet!</h4>
                        <p>
                            Lorem idolorame conseetur sadipscing elitdiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam ersed diam voluptua vero eoet accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet rem ipsum dolorsit amet
                            consetetur sadipscing elitr:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
