@page "/signin"

<div class="content content-fixed">
    <div class="container">
        <h5 class="tx-color-01 mg-b-5">Welcome to Gosport Internet</h5>
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class="mx-wd-500">
                    <img src="/assets/img/icon-light.png" class="img-fluid" alt="">
                </div>
                <div class="pos-absolute b-0 l-0 tx-12 tx-center">
                </div>
            </div>
            <div class="sign-wrapper mg-lg-l-100 mg-xl-l-100">
                <div class="wd-200p">
                    <div class="form-group">
                        <input type="text" class="form-control text-center woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="" placeholder="Username or email address">
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between mg-b-5">
                            <a href="" class="tx-13">Forgot password?</a>
                        </div>
                        <input type="text" class="form-control text-center woocommerce-Input woocommerce-Input--text input-text" name="username" id="password" value="" placeholder="Password">
                    </div>
                    <button type="submit" class="woocommerce-Button btn btn-maincolor" name="login"><span>Sign In</span></button>
                    <div class="tx-13 mg-t-20 tx-center"><a href="/signup">Dont have an account?</a></div>
                </div>
            </div><!-- sign-wrapper -->
        </div><!-- media -->
        </div>
    </div>

@code {




}
