@page "/support"
@using GIWeb.Shared.Components

<GIGridLayout>
    <GIGridRow>
        <GIGridColumn Width="8">
            <div class="mb-20" style="text-align:center;">
                <h6>Frequently Asked Questions</h6>
            </div>
        </GIGridColumn>
        <GIGridColumn Width="4">
            <div class="mb-20" style="text-align:center;">
                <h6>WIKI</h6>
            </div>
        </GIGridColumn>
    </GIGridRow>
</GIGridLayout>

<div class="container mb-60">
    <GIGridRow>
        <GIGridColumn Width="8">
            <div id="accordion01" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="collapse01_header">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse01" aria-expanded="false" aria-controls="collapse01">
                                Question One
                            </a>
                        </h5>
                    </div>
                    <div id="collapse01" class="collapse" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01" style="">
                        <div class="card-body">
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="collapse02_header">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
                                Question Two
                            </a>
                        </h5>
                    </div>
                    <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01" style="">
                        <div class="card-body">
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="collapse03_header">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
                                Question Three
                            </a>
                        </h5>
                    </div>
                    <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01" style="">
                        <div class="card-body">
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable sunt aliqua put a bird on it
                            squid single-origin coffee shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="collapse03_header">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
                                Question Four
                            </a>
                        </h5>
                    </div>
                    <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01" style="">
                        <div class="card-body">
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable sunt aliqua put a bird on it
                            squid single-origin coffee shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="collapse05_header">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
                                Question Five
                            </a>
                        </h5>
                    </div>
                    <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="collapse05_header" data-parent="#accordion01" style="">
                        <div class="card-body">
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable sunt aliqua put a bird on it
                            squid single-origin coffee shoreditch et.
                        </div>
                    </div>
                </div>
            </div>
        </GIGridColumn>
        <GIGridColumn Width="4">
            <div style="height:25px;"></div>
            <div class="bd pd-20">
                <ul class="list-unstyled lh-7 mg-b-0" style="text-align:center;">
                    <li class="mb-10">
                        <a style="font-size:large;" href="/login" class="tx-color-03 mg-b-10">
                            Account
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/payments_and_billing" class="tx-color-03 mg-b-10">
                            Payments And Billing
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/security" class="tx-color-03 mg-b-10">
                            Security And Privacy
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/ticket" class="tx-color-03 mg-b-10">
                            View Tickets
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/documentation" class="tx-color-03 mg-b-10">
                            Doucumentation
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/aboutus" class="tx-color-03 mg-b-10">
                            About Us
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/contactus" class="tx-color-03 mg-b-10">
                            How To Contact Us
                        </a>
                    </li>
                    <li class="mb-10">
                        <a style="font-size:large;" href="/tos" class="tx-color-03 mg-b-10">
                            Terms Of Service
                        </a>
                    </li>
                </ul>
            </div>
        </GIGridColumn>
    </GIGridRow>

</div>


@code {

}
