<footer class="page_footer cs s-py-80 s-py-lg-120 s-py-xl-130 c-gutter-60 footer-bg footer-layout1 text-center text-md-left container-px-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 animate text-md-center text-lg-left animated fadeInUp" data-animation="fadeInUp">

                <div class="widget widget_text">
                    <h4 class="widget-title fs-24">About Gosport Internet</h4>
                    <p>
                        Welcome to the largest broadband and Internet services provider where you can choose the best plan ever. We guarantee customer support service with high-speed satellite connection.
                    </p>
                    <div class="widget footer_social_buttons">
                        <a href="#" class="fa fa-facebook bg-icon rounded-icon" title="facebook"></a>
                        <a href="#" class="fa fa-twitter bg-icon rounded-icon" title="twitter"></a>
                        <a href="#" class="fa fa-rss bg-icon rounded-icon" title="rss"></a>

                    </div>
                </div>
            </div>
            <div class="divider-60 d-none d-md-block d-lg-none"></div>
            <div class="col-12 col-md-6 col-lg-3 animate animated fadeInUp" data-animation="fadeInUp">
                <div class="widget widget_icons_list">
                    <h4 class="widget-title fs-24">Contacts</h4>
                    <ul class="list">
                        <li class="icon-inline">
                            <div class="icon-styled icon-top fs-14">
                                <i class="fa fa-phone"></i>
                            </div>
                            <p>800-123-45-67</p>
                        </li>

                        <li class="icon-inline">
                            <div class="icon-styled icon-top fs-14">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <p>
                                <a class="white-link" href="#">MaxiCom@example.com</a>
                            </p>
                        </li>
                        <li class="icon-inline">
                            <div class="icon-styled icon-top fs-14">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <p>
                                Hours: 09:00-19:00
                            </p>
                        </li>
                        <li class="icon-inline">
                            <div class="icon-styled icon-top fs-14">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <p>2464 Benson Street, Ashwaubenon, WI 54304</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 animate animated fadeInUp" data-animation="fadeInUp">
                <div class="widget widget_mailchimp">

                    <h4 class="widget-title fs-24 newsletter">Newsletter</h4>
                    <p>
                        Subscibe to our newsletter to be updated
                    </p>
                    <form class="signup" action="/">
                        <label for="mailchimp_email">
                            <span class="screen-reader-text">Subscribe:</span>
                        </label>

                        <input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email Adress">

                        <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Subscribe</span>
                        </button>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="page_copyright ls s-py-10 dark-color">
    <div class="container">
        <div class="row align-items-center">
            <div class="divider-15 d-none d-lg-block"></div>
            <div class="col-md-12 text-center">
                <p>© Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
            </div>
            <div class="divider-15 d-none d-lg-block"></div>
        </div>
    </div>
</section>

@code
{

}