<footer>
    <section class="page_copyright ds s-py-10 copyright-bg navbar-static-bottom mt-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="divider-15 d-none d-lg-block"></div>
                <div class="col-md-12 text-center">
                    <p>© Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
                </div>
                <div class="divider-15 d-none d-lg-block"></div>
            </div>
        </div>
    </section>
</footer>