@inherits LayoutComponentBase

<div style="padding-left:0rem; padding-right:0rem; width:100%;">
    <div class="header">
        <TopMainNav></TopMainNav>
    </div>
    <div class="content">
        @Body
    </div>
    <MainFooter></MainFooter>
</div>
