@inherits LayoutComponentBase

<div class="main">
    <div class="header-content">
        <TopMainNav></TopMainNav>
    </div>
    <div class="content px-4">
        @Body
    </div>
    <div>
        <MainFooter></MainFooter>
    </div>
</div>
