
<div id="canvas">
    <div id="box_wrapper">
        <section class="page_topline ls s-borderbottom c-my-10 c-my-lg-20">
            <div class="row align-items-center">
                <div class="col-md-6 text-md-left text-center">
                    <ul class="top-includes">
                        <li>
                            <span class="icon-inline">
                                <span class="icon-styled color-main fs-14 ml-4">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <span class="small-text">
                                    <a href="#">800 - 123-45-67</a>
                                </span>
                            </span>
                        </li>
                        <li>
                            <span class="icon-inline">
                                <span class="icon-styled color-main fs-14">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <span class="small-text">
                                    <a href="#">Support@GosportInternet.com</a>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-center text-md-right d-none d-md-block">
                    <ul class="top-includes">
                        <li>
                            <span class="icon-inline">
                                <span class="icon-styled color-main2 fs-14">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span class="small-text">
                                    <a class="hover-main2" href="/login"> Login in</a>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="header_absolute header_layout_1">
            <div id="particles-js"></div>
            <header class="page_header ls justify-nav-end">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-4 col-md-5 col-11">
                        <a href="/" class="logo ml-5 mt-2">
                            <span class="logo-text py-20"><strong>Gosport</strong>Internet</span>
                        </a>
                    </div>
                    @* START *@
                    <div class="col-xl-9 col-lg-8 col-md-7 col-1">
                        <div class="nav-wrap">
                            <nav class="top-nav">
                                <ul class="nav sf-menu">
                                    <li>
                                        <a>Useful Links</a>
                                        <ul>
                                            <li>
                                                <a href="/aboutus">About Us</a>
                                            </li>
                                            <li>
                                                <a href="/faq">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="/contactus">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="/tos">Terms Of Service</a>
                                            </li>
                                            <li>
                                                <a href="/componenttest">Component Test Page</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/hosting">Hosting</a>
                                        <ul>
                                            <li>
                                                <a href="/hosting/prices">Pricings</a>
                                            </li>
                                            <li>
                                                <a href="/hosting/support">Support</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/internet">Internet</a>
                                        <ul>
                                            <li>
                                                <a href="/internet/packages">Packages</a>
                                            </li>
                                            <li>
                                                <a href="/internet/availability">Availability</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/hardware">Hardware</a>
                                        <ul>
                                            <li>
                                                <a href="/hardware/products">Products</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a target="_blank" href="http://webdesign-finder.com/html/maxicom/">Maxicom</a>    
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    @* END *@
                </div>
            </header>
        </div>
    </div>
</div>
<div style="height:125px;"></div>
