@using GIWeb.Shared.Components

<div class="alert alert-secondary alert-dismissible fade show" role="alert" style="width:100%; border-bottom-width:5px; border-top-width:5px;">
    <div class="text-center">
        <strong>COVID-19 update</strong> Important news about our call centre opening hours and engineer appointments
  </div>
    <button type="button" class="close" style="vertical-align:central;" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="header_wrapper" style="height: 118px;">
    <header class="page_header header_logo_center ls header-layout2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <GIGridColumn Width="1">
                    <ul class="top-includes">
                        <li>
                            <span class="social-icons">
                                <a href="#" class="fa fa-facebook" title="facebook"></a>
                                <a href="#" class="fa fa-twitter" title="twitter"></a>
                                <a href="#" class="fa fa-google" title="google"></a>
                            </span>
                        </li>
                    </ul>
                </GIGridColumn>
                <GIGridColumn Width="3">
                    <nav class="nav float-right">
                        <ul class="sf-menu">
                            <li>
                                <a href="/">Home</a><span></span>
                                <ul margin-top: 5px;">
                                    <li>
                                        <a href="/componenttest">Component Test</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/internet">Internet</a><span></span>
                                <ul margin-top: 5px;">

                                    <li>
                                        <a href="/internet/packages">Packages</a>
                                    </li>
                                    <li>
                                        <a href="/internet/availability">Avaliability</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/hosting">Hosting</a><span class="menu-item-mobile-toggler"></span>
                                <ul margin-top: 5px;">
                                    <li>
                                        <a href="/hosting/prices">Prices</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </GIGridColumn>
                <GIGridColumn Width="4">
                    <div class="logo_wrapper">
                        <a href="/" class="logo">
                            <span class="logo-text py-20"><strong>Gosport</strong>Internet</span>
                        </a>
                    </div>
                </GIGridColumn>
                <GIGridColumn Width="3">
                    <nav class="nav" style="left: 300px;">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="/aboutus">About Us</a><span class="menu-item"></span>
                                <ul margin-top: 5px;>
                                    <li>
                                        <a href="/contactus">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="/ourteam">Our Team</a>
                                    </li>
                                    <li>
                                        <a href="/tos">Terms Of Service</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/support">Support</a><span class="menu-item"></span>
                                <ul margin-top: 5px;>
                                    <li>
                                        <a href="/getstarted">Get Started</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://webdesign-finder.com/html/maxicom/" target="_blank">Max</a><span></span>
                            </li>
                        </ul>
                    </nav>
                </GIGridColumn>
                <GIGridColumn Width="1">
                    <ul class="top-includes">
                        <li>
                            <span class="icon-inline">
                                <span class="icon-styled color-main2 mb-2 fs-14">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span class="small-text">
                                    <a href="/login">Login in</a>
                                    <label>/</label>
                                    <a href="/register">sign up</a>
                                </span>
                            </span>
                        </li>
                    </ul>
                </GIGridColumn>
            </div>
        </div>
    </header>
</div>

@code{



}