
<div class="page_header_wrapper" style="height: 118px;">
    <header class="page_header header_logo_center ls header-layout2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-1 d-none d-xl-block">
                    <ul class="top-includes">
                        <li>
                            <span class="social-icons">

                                @*
                                    <a href="#" class="fa fa-facebook " title="facebook"></a>
                                    <a href="#" class="fa fa-twitter " title="twitter"></a>
                                    <a href="#" class="fa fa-google " title="google"></a>
                                *@

                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-10 text-sm-center">
                    <div class="logo_wrapper">
                        <a href="/" class="logo">
                            <span class="logo-text py-20"><strong>Gosport</strong>Internet</span>
                        </a>
                    </div>
                    <!-- main nav start -->
                    <nav class="top-nav" style="left: 300px;">
                        <ul class="nav sf-menu">
                            <li>
                                <a href="/">Home</a><span></span>
                            </li>
                            <li>
                                <a href="/internet">Internet</a><span></span>
                                <ul margin-top: 5px;">

                                    <li>
                                        <a href="/internet/packages">Packages</a>
                                    </li>
                                    <li>
                                        <a href="/internet/avaliability">Avaliability</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/hosting">Hosting</a><span class="menu-item-mobile-toggler"></span>
                                <ul margin-top: 5px;">
                                    <li>
                                        <a href="/hosting/prices">Prices</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/aboutus">About Us</a><span class="menu-item-mobile-toggler"></span>
                            </li>
                            <li>
                                <a href="/help">Help</a><span class="menu-item-mobile-toggler"></span>
                                <ul margin-top: 5px;">
                                    <li>
                                        <a href="/contactus">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="/support">Support</a>
                                    </li>
                                    <li>
                                        <a href="/tos">Terms Of Service</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a target="_blank" href="http://webdesign-finder.com/html/maxicom/">Maxicom</a><span></span>
                            </li>
                            <li>
                                <a target="_blank" href="/componenttest">Components</a><span></span>
                            </li>
                        </ul>
                    </nav>
                    <!-- eof main nav -->
                </div>
                <div class="col-xl-1 text-right d-none d-xl-block">
                    <ul class="top-includes">
                        <li>
                            <span class="icon-inline">
                                <span class="icon-styled color-main2 mb-2 fs-14">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span class="small-text">
                                    <a href="/login">Login in</a>
                                    <label>/</label>
                                    <a href="/register">sign up</a>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

@code{



}