
<section class="ds s-pt-70 s-pb-130 s-pt-lg-130 s-pb-lg-160 s-pt-xl-130 s-pb-xl-160 background-gradient2 about-section cover-background" id="about">
    <div class="container">
        <div class="d-block d-lg-none divider-5"></div>
        <div class="row c-gutter-60 align-items-center">
            <div class="col-xl-6 col-lg-6 col-lg-6 col-xs-12 order-2 order-lg-1 animate animated fadeInLeftBig" data-animation="fadeInLeftBig">
                <div class="side-image">
                    <img src="images/about-image.png" width="300" alt="">
                    <div class="d-block d-lg-none divider-10"></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-lg-6 col-xs-12 order-1 order-lg-2 animate animated fadeInRightBig" data-animation="fadeInRightBig">
                <div class="item-content text-center text-lg-left">
                    <h5 class="fw-200 text-uppercase">We Are</h5>
                    <h3>Gosport Internet</h3>
                    <h6 class="fw-500 font-italic">To get started with MaxiCom, please go over all of our plans to let our operators know which one works for you the best!</h6>
                    <p class="big">
                        We guarantee high-quality customer support service with high-speed satellite connection all over the world. Enjoy fun family nights and loud friends parties at your place! MaxiCom provides excellent entertainment.
                    </p>
                    <div class="d-flex justify-content-between mt-50">
                        <input class="text-center rounded" style="width:300px; border:inherit; font:inherit; color:inherit;" placeholder="Postcode">
                        <a class="btn btn-white" href=""><span>Check</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block divider-35"></div>
</section>