
<section class="ds s-pt-70 s-pb-130 s-pt-lg-130 s-pb-lg-160 s-pt-xl-130 s-pb-xl-160 background-gradient2 about-section cover-background" id="about">
    <div class="container">
        <div class="d-block d-lg-none divider-5"></div>
        <div class="row c-gutter-60 align-items-center">
            <div class="col-xl-6 col-lg-6 col-lg-6 col-xs-12 order-2 order-lg-1 animate animated fadeInLeftBig" data-animation="fadeInLeftBig">
                <div class="side-image">
                    <img src="images/about-image.png" width="300" alt="">
                    <div class="d-block d-lg-none divider-10"></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-lg-6 col-xs-12 order-1 order-lg-2 animate animated fadeInRightBig" data-animation="fadeInRightBig">
                <div class="item-content text-center text-lg-left">
                    <h3>Gosport Internet</h3>
                    <p class="big">
                        To get started using our service check if our services are avaliable in your area. Please provide a postcode then click the button below for availability.
                    </p>
                    <label class="ml-2" style="font-size:13px;">Postcode:</label>
                    <div class="d-flex justify-content-between">
                        <GIInput Align="GIInput.Alignment.Center" CustomClass="text-uppercase" Width="300px;" TopMargin="0" Placeholder="Postcode"  BottomMargin="0" FontColour="black"></GIInput>
                        <GIButton ButtonText="Create Account" Width="150px;" CustomClass="float-right" BorderColor="#3b84a5"></GIButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block divider-35"></div>
</section>