
<div class="form-check">
    <input type="checkbox" class="form-check-input" @bind="IsChecked" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">@Text</label>
</div>

@code
{
    [Parameter]
    public string Text { get; set; }

    private bool IsChecked { get; set; } = false;

    public bool GetValue()
    {
        return IsChecked;
    }

    public void Toggle()
    {
        if (IsChecked == true)
        {
            IsChecked = false;
        }
        if (IsChecked == false)
        {
            IsChecked = true;
        }
    }
}