
<div style="width:100%;">
    <GIInput @ref="Email" Id="i1" Placeholder="Email" Align="GIInput.Alignment.Center" TopMargin="2" BottomMargin="3" ShowLabel="true" LabelText="Email"></GIInput>
    <GIInput @ref="Password" Id="i2" Placeholder="Password" Align="GIInput.Alignment.Center" TopMargin="2" ShowLabel="true" LabelText="Password"></GIInput>

    <GIGridRow>
        <GIGridColumn Width="6">
            <ul class="list-group">
                <a href="/resetpassword" target="_blank" class="float-left ml-1 mt-3">Forgot password?</a>
                <a href="/register" class="float-left ml-1 mt-3">Don't have an account?</a>
            </ul>
        </GIGridColumn>
        <GIGridColumn Width="6">
            <GIButton ButtonText="Sign in" OnClickEvent="@AttemptSignIn" Width="150px" Colour="GIButton.ButtonColour.Purple" CustomClass="mt-3 float-right"></GIButton>
        </GIGridColumn>
    </GIGridRow>
</div>

@code {

    GIInput Email, Password;

    public void AttemptSignIn()
    {
        Console.WriteLine("Attempting to signin with credienials: Email= " + Email.GetValue() + " - Password= " + Password.GetValue());

        LoginRequest request = new LoginRequest();

        if (Email.GetValue() != null && Email.GetValue().ToString().Contains("@"))
        {
            request.Email = Email.GetValue();
            request.Password = Password.GetValue();

            // Send login request
        }
    }

    //protected override async Task OnInitializedAsync()
    //{

    //}

    public class LoginRequest
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }

}
