<div class="container">
    <GIGridRow>
        <GIGridColumn Width="3">
        </GIGridColumn>
        <GIGridColumn CustomClass="text-center" Width="6">
            <GIInput @ref="Firstname" Placeholder="First Name." CustomClass="mb-1"></GIInput>
            <GIInput @ref="Surname" Placeholder="Surname." CustomClass="mb-1"></GIInput>
            <GIInput @ref="Email" Placeholder="Email address." CustomClass="mb-1"></GIInput>
            <GIInput @ref="ComfirmEmail" Placeholder="Re-enter email." CustomClass="mb-1"></GIInput>
            <GIInput @ref="Password" Placeholder="Password." CustomClass="mb-1"></GIInput>
            <GIInput @ref="ComfirmPassword" Placeholder="Re-enter password." CustomClass="mb-1"></GIInput>
            <small class="">By clicking "Sign Up" below, you agree to the <a href="/terms_of_use.html">Terms of Service</a> and <a href="/terms_of_use.html">Privacy Policy</a>.</small>
            <GIButton ButtonText="Create Acount" CustomClass="mt-2" Width="150px;"></GIButton>
            <div>
                <a href="/login" style="width:150px;" class="woocommerce-Button btn btn-maincolor3 mt-2" role="button"><span>Back</span></a>
            </div>
        </GIGridColumn>
        <GIGridColumn Width="3"></GIGridColumn>
    </GIGridRow>
</div>


@code {

    GIInput Firstname, Surname, Email, ComfirmEmail, Password, ComfirmPassword;
    GiCheckbox TermsOfService;

    protected override async Task OnInitializedAsync()
    {

    }

    public void AttemptRegister()
    {
        Console.WriteLine("Firstname: " + Firstname.GetValue() + " - " + "Surname: " + Surname.GetValue() + " - " + "Email: " + Email.GetValue() + " - " + "Comfirm Email: " + ComfirmEmail.GetValue() + " - " + "Password: " + Password.GetValue() + "Comfirm Password: " + ComfirmPassword.GetValue());
        RegisterAccountRequest request = new RegisterAccountRequest();

        if (Email.GetValue() == ComfirmPassword.GetValue())
        {
            if (Password.GetValue() == ComfirmPassword.GetValue())
            {

                request.Firstname = Firstname.GetValue();
                request.Surname = Surname.GetValue();
                request.Email = Email.GetValue();
                request.Password = Password.GetValue();

                // Send request to API

            }
        }
    }

    public void ButtonClick()
    {
        Console.WriteLine("DONG!!");
    }

    public void PrintOnChange(string text)
    {
        Console.WriteLine(text.ToString());
    }

    public class RegisterAccountRequest
    {
        public string Firstname { get; set; }
        public string Surname { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}