<div class="container">
    <GIGridRow>
        <GIGridColumn Width="3">
        </GIGridColumn>
        <GIGridColumn CustomClass="text-center" Width="6">
            <GIInput Id="login_firstname" @ref="Firstname" Placeholder="First Name" BottomMargin="3" ShowLabel="true" LabelText="First Name" LabelClass="float-left" TopMargin="1"></GIInput>
            <GIInput Id="login_surname"  @ref="Surname" Placeholder="Surname" BottomMargin="3" ShowLabel="true" LabelText="Surname" TopMargin="1" LabelClass="float-left"></GIInput>
            <GIInput Id="login_email"  @ref="Email" Placeholder="Email address" BottomMargin="3" ShowLabel="true" LabelText="Email" TopMargin="1" LabelClass="float-left"></GIInput>
            <GIInput Id="login_comfirmemail" @ref="ComfirmEmail" Placeholder="Re-enter email"  BottomMargin="3" ShowLabel="true" LabelText="Comfirm Email" TopMargin="1" LabelClass="float-left"></GIInput>
            <GIInput Id="login_password"  @ref="Password" Placeholder="Password"  BottomMargin="3" ShowLabel="true" LabelText="Password" TopMargin="1" LabelClass="float-left"></GIInput>
            <GIInput Id="login_comfirmpassword"  @ref="ComfirmPassword" Placeholder="Re-enter password" BottomMargin="3" ShowLabel="true" LabelText="Comfirm Password" TopMargin="1" LabelClass="float-left"></GIInput>
            <small class="">By clicking "Sign Up" below, you agree to the <a href="/terms_of_use.html">Terms of Service</a> and <a href="/terms_of_use.html">Privacy Policy</a>.</small>
            <GIButton ButtonText="Create Acount" CustomClass="mt-2" Width="150px;"></GIButton>
        </GIGridColumn>
        <GIGridColumn Width="3"></GIGridColumn>
    </GIGridRow>
</div>

@code {

    GIInput Firstname, Surname, Email, ComfirmEmail, Password, ComfirmPassword;
    GiCheckbox TermsOfService;

    public void AttemptRegister()
    {
        Console.WriteLine("Firstname: " + Firstname.GetValue() + " - " + "Surname: " + Surname.GetValue() + " - " + "Email: " + Email.GetValue() + " - " + "Comfirm Email: " + ComfirmEmail.GetValue() + " - " + "Password: " + Password.GetValue() + "Comfirm Password: " + ComfirmPassword.GetValue());
        RegisterAccountRequest request = new RegisterAccountRequest();

        if (Email.GetValue() == ComfirmPassword.GetValue())
        {
            if (Password.GetValue() == ComfirmPassword.GetValue())
            {

                request.Firstname = Firstname.GetValue();
                request.Surname = Surname.GetValue();
                request.Email = Email.GetValue();
                request.Password = Password.GetValue();

                // Send request to API
            }
        }
    }

    public void ButtonClick()
    {
        Console.WriteLine("DONG!!");
    }

    public void PrintOnChange(string text)
    {
        Console.WriteLine(text.ToString());
    }

    public class RegisterAccountRequest
    {
        public string Firstname { get; set; }
        public string Surname { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}